<template>
  <!-- <require from="./nav-bar.css"></require> -->
  <header>
    <nav class="navbar navbar-fixed-top navbar-full navbar-dark bg-inverse">
      <ul class="nav navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="#">HOME</span></a>
        </li>
        <li class="nav-item active" repeat.for="route of router.navigation">
          <a class="nav-link" href="${route.href}">${route.title}</a>
        </li>
      </ul>
    </nav>
  </header>
</template>
